.info {
    padding: 30px 0 30px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
.info .icon {
    margin-top: 0;
    font-size: 3.4em;
}
.info .icon.icon-sm {
    font-size: 1.6em;
}
.info .icon .fa {
    width: 48px;
}
.info h4,
.info .h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-horizontal {
    text-align: left;
    margin-top: 0;
}
.info-horizontal .icon {
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 2.5em;
}
.info-horizontal .icon .fa {
    width: 48px;
}
.info-horizontal .description {
    overflow: hidden;
}
.info-horizontal .btn {
    margin-left: -19px;
}

.ipad-container {
    max-width: 500px;
    margin: 0 auto 0;
}
.ipad-container img {
    max-width: 100%;
}

.iphone-container {
    max-width: 200px;
    margin: 0 auto;
}
.iphone-container img {
    max-width: 100%;
    padding-top: 40px;
}

.card .card-block {
    padding: 20px;
}
.card .card-block .card-title {
    margin: 5px 0 0 0;
}
.card .card-block .card-category ~ .card-title {
    margin-top: 5px;
}

.card-product .card-img-top {
    background-color: transparent;
    box-shadow: none !important;
}

/*Below is social media button styles*/


.btn-facebook {
    color: #FFFFFF;
    background-color: #3b5998;
    border-color: #3b5998;
    opacity: 0.8;
}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open > .btn-facebook.dropdown-toggle {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #FFFFFF;
    opacity: 1;
}
.btn-facebook.btn-border {
    border-color: #3b5998;
    color: #3b5998;
}
.btn-facebook.btn-border:hover, .btn-facebook.btn-border:focus, .btn-facebook.btn-border:active, .btn-facebook.btn-border.active, .open > .btn-facebook.btn-border.dropdown-toggle {
    background-color: #3b5998;
    border-color: #3b5998;
    color: rgba(255, 255, 255, 0.7);
}
.btn-facebook.btn-border:disabled, .btn-facebook.btn-border[disabled], .btn-facebook.btn-border.disabled {
    background-color: transparent;
    border-color: #3b5998;
}
.btn-facebook.btn-link {
    color: #3b5998;
    opacity: 0.8;
}
.btn-facebook.btn-link:hover, .btn-facebook.btn-link:focus, .btn-facebook.btn-link:active, .btn-facebook.btn-link.active, .open > .btn-facebook.btn-link.dropdown-toggle {
    background-color: transparent;
    color: #3b5998;
    opacity: 1;
}
.btn-facebook.btn-link:hover i, .btn-facebook.btn-link:focus i, .btn-facebook.btn-link:active i, .btn-facebook.btn-link.active i, .open > .btn-facebook.btn-link.dropdown-toggle i {
    color: #3b5998;
    opacity: 1;
}

.btn-twitter {
    color: #FFFFFF;
    background-color: #55acee;
    border-color: #55acee;
    opacity: 0.8;
}
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open > .btn-twitter.dropdown-toggle {
    background-color: #55acee;
    border-color: #55acee;
    color: #FFFFFF;
    opacity: 1;
}
.btn-twitter.btn-border {
    border-color: #55acee;
    color: #55acee;
}
.btn-twitter.btn-border:hover, .btn-twitter.btn-border:focus, .btn-twitter.btn-border:active, .btn-twitter.btn-border.active, .open > .btn-twitter.btn-border.dropdown-toggle {
    background-color: #55acee;
    border-color: #55acee;
    color: rgba(255, 255, 255, 0.7);
}
.btn-twitter.btn-border:disabled, .btn-twitter.btn-border[disabled], .btn-twitter.btn-border.disabled {
    background-color: transparent;
    border-color: #55acee;
}
.btn-twitter.btn-link {
    color: #55acee;
    opacity: 0.8;
}
.btn-twitter.btn-link:hover, .btn-twitter.btn-link:focus, .btn-twitter.btn-link:active, .btn-twitter.btn-link.active, .open > .btn-twitter.btn-link.dropdown-toggle {
    background-color: transparent;
    color: #55acee;
    opacity: 1;
}
.btn-twitter.btn-link:hover i, .btn-twitter.btn-link:focus i, .btn-twitter.btn-link:active i, .btn-twitter.btn-link.active i, .open > .btn-twitter.btn-link.dropdown-toggle i {
    color: #55acee;
    opacity: 1;
}

.btn-pinterest {
    color: #FFFFFF;
    background-color: #cc2127;
    border-color: #cc2127;
    opacity: 0.8;
}
.btn-pinterest:hover, .btn-pinterest:focus, .btn-pinterest:active, .btn-pinterest.active, .open > .btn-pinterest.dropdown-toggle {
    background-color: #cc2127;
    border-color: #cc2127;
    color: #FFFFFF;
    opacity: 1;
}
.btn-pinterest.btn-border {
    border-color: #cc2127;
    color: #cc2127;
}
.btn-pinterest.btn-border:hover, .btn-pinterest.btn-border:focus, .btn-pinterest.btn-border:active, .btn-pinterest.btn-border.active, .open > .btn-pinterest.btn-border.dropdown-toggle {
    background-color: #cc2127;
    border-color: #cc2127;
    color: rgba(255, 255, 255, 0.7);
}
.btn-pinterest.btn-border:disabled, .btn-pinterest.btn-border[disabled], .btn-pinterest.btn-border.disabled {
    background-color: transparent;
    border-color: #cc2127;
}
.btn-pinterest.btn-link {
    color: #cc2127;
    opacity: 0.8;
}
.btn-pinterest.btn-link:hover, .btn-pinterest.btn-link:focus, .btn-pinterest.btn-link:active, .btn-pinterest.btn-link.active, .open > .btn-pinterest.btn-link.dropdown-toggle {
    background-color: transparent;
    color: #cc2127;
    opacity: 1;
}
.btn-pinterest.btn-link:hover i, .btn-pinterest.btn-link:focus i, .btn-pinterest.btn-link:active i, .btn-pinterest.btn-link.active i, .open > .btn-pinterest.btn-link.dropdown-toggle i {
    color: #cc2127;
    opacity: 1;
}

.btn-google {
    color: #FFFFFF;
    background-color: #dd4b39;
    border-color: #dd4b39;
    opacity: 0.8;
}
.btn-google:hover, .btn-google:focus, .btn-google:active, .btn-google.active, .open > .btn-google.dropdown-toggle {
    background-color: #dd4b39;
    border-color: #dd4b39;
    color: #FFFFFF;
    opacity: 1;
}
.btn-google.btn-border {
    border-color: #dd4b39;
    color: #dd4b39;
}
.btn-google.btn-border:hover, .btn-google.btn-border:focus, .btn-google.btn-border:active, .btn-google.btn-border.active, .open > .btn-google.btn-border.dropdown-toggle {
    background-color: #dd4b39;
    border-color: #dd4b39;
    color: rgba(255, 255, 255, 0.7);
}
.btn-google.btn-border:disabled, .btn-google.btn-border[disabled], .btn-google.btn-border.disabled {
    background-color: transparent;
    border-color: #dd4b39;
}
.btn-google.btn-link {
    color: #dd4b39;
    opacity: 0.8;
}
.btn-google.btn-link:hover, .btn-google.btn-link:focus, .btn-google.btn-link:active, .btn-google.btn-link.active, .open > .btn-google.btn-link.dropdown-toggle {
    background-color: transparent;
    color: #dd4b39;
    opacity: 1;
}
.btn-google.btn-link:hover i, .btn-google.btn-link:focus i, .btn-google.btn-link:active i, .btn-google.btn-link.active i, .open > .btn-google.btn-link.dropdown-toggle i {
    color: #dd4b39;
    opacity: 1;
}

.btn-linkedin {
    color: #FFFFFF;
    background-color: #0976b4;
    border-color: #0976b4;
    opacity: 0.8;
}
.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active, .open > .btn-linkedin.dropdown-toggle {
    background-color: #0976b4;
    border-color: #0976b4;
    color: #FFFFFF;
    opacity: 1;
}
.btn-linkedin.btn-border {
    border-color: #0976b4;
    color: #0976b4;
}
.btn-linkedin.btn-border:hover, .btn-linkedin.btn-border:focus, .btn-linkedin.btn-border:active, .btn-linkedin.btn-border.active, .open > .btn-linkedin.btn-border.dropdown-toggle {
    background-color: #0976b4;
    border-color: #0976b4;
    color: rgba(255, 255, 255, 0.7);
}
.btn-linkedin.btn-border:disabled, .btn-linkedin.btn-border[disabled], .btn-linkedin.btn-border.disabled {
    background-color: transparent;
    border-color: #0976b4;
}
.btn-linkedin.btn-link {
    color: #0976b4;
    opacity: 0.8;
}
.btn-linkedin.btn-link:hover, .btn-linkedin.btn-link:focus, .btn-linkedin.btn-link:active, .btn-linkedin.btn-link.active, .open > .btn-linkedin.btn-link.dropdown-toggle {
    background-color: transparent;
    color: #0976b4;
    opacity: 1;
}
.btn-linkedin.btn-link:hover i, .btn-linkedin.btn-link:focus i, .btn-linkedin.btn-link:active i, .btn-linkedin.btn-link.active i, .open > .btn-linkedin.btn-link.dropdown-toggle i {
    color: #0976b4;
    opacity: 1;
}

.btn-dribbble {
    color: #FFFFFF;
    background-color: #ea4c89;
    border-color: #ea4c89;
    opacity: 0.8;
}
.btn-dribbble:hover, .btn-dribbble:focus, .btn-dribbble:active, .btn-dribbble.active, .open > .btn-dribbble.dropdown-toggle {
    background-color: #ea4c89;
    border-color: #ea4c89;
    color: #FFFFFF;
    opacity: 1;
}
.btn-dribbble.btn-border {
    border-color: #ea4c89;
    color: #ea4c89;
}
.btn-dribbble.btn-border:hover, .btn-dribbble.btn-border:focus, .btn-dribbble.btn-border:active, .btn-dribbble.btn-border.active, .open > .btn-dribbble.btn-border.dropdown-toggle {
    background-color: #ea4c89;
    border-color: #ea4c89;
    color: rgba(255, 255, 255, 0.7);
}
.btn-dribbble.btn-border:disabled, .btn-dribbble.btn-border[disabled], .btn-dribbble.btn-border.disabled {
    background-color: transparent;
    border-color: #ea4c89;
}
.btn-dribbble.btn-link {
    color: #ea4c89;
    opacity: 0.8;
}
.btn-dribbble.btn-link:hover, .btn-dribbble.btn-link:focus, .btn-dribbble.btn-link:active, .btn-dribbble.btn-link.active, .open > .btn-dribbble.btn-link.dropdown-toggle {
    background-color: transparent;
    color: #ea4c89;
    opacity: 1;
}
.btn-dribbble.btn-link:hover i, .btn-dribbble.btn-link:focus i, .btn-dribbble.btn-link:active i, .btn-dribbble.btn-link.active i, .open > .btn-dribbble.btn-link.dropdown-toggle i {
    color: #ea4c89;
    opacity: 1;
}

.btn-github {
    color: #FFFFFF;
    background-color: #333333;
    border-color: #333333;
    opacity: 0.8;
}
.btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active, .open > .btn-github.dropdown-toggle {
    background-color: #333333;
    border-color: #333333;
    color: #FFFFFF;
    opacity: 1;
}
.btn-github.btn-border {
    border-color: #333333;
    color: #333333;
}
.btn-github.btn-border:hover, .btn-github.btn-border:focus, .btn-github.btn-border:active, .btn-github.btn-border.active, .open > .btn-github.btn-border.dropdown-toggle {
    background-color: #333333;
    border-color: #333333;
    color: rgba(255, 255, 255, 0.7);
}
.btn-github.btn-border:disabled, .btn-github.btn-border[disabled], .btn-github.btn-border.disabled {
    background-color: transparent;
    border-color: #333333;
}
.btn-github.btn-link {
    color: #333333;
    opacity: 0.8;
}
.btn-github.btn-link:hover, .btn-github.btn-link:focus, .btn-github.btn-link:active, .btn-github.btn-link.active, .open > .btn-github.btn-link.dropdown-toggle {
    background-color: transparent;
    color: #333333;
    opacity: 1;
}
.btn-github.btn-link:hover i, .btn-github.btn-link:focus i, .btn-github.btn-link:active i, .btn-github.btn-link.active i, .open > .btn-github.btn-link.dropdown-toggle i {
    color: #333333;
    opacity: 1;
}

.btn-youtube {
    color: #FFFFFF;
    background-color: #e52d27;
    border-color: #e52d27;
    opacity: 0.8;
}
.btn-youtube:hover, .btn-youtube:focus, .btn-youtube:active, .btn-youtube.active, .open > .btn-youtube.dropdown-toggle {
    background-color: #e52d27;
    border-color: #e52d27;
    color: #FFFFFF;
    opacity: 1;
}
.btn-youtube.btn-border {
    border-color: #e52d27;
    color: #e52d27;
}
.btn-youtube.btn-border:hover, .btn-youtube.btn-border:focus, .btn-youtube.btn-border:active, .btn-youtube.btn-border.active, .open > .btn-youtube.btn-border.dropdown-toggle {
    background-color: #e52d27;
    border-color: #e52d27;
    color: rgba(255, 255, 255, 0.7);
}
.btn-youtube.btn-border:disabled, .btn-youtube.btn-border[disabled], .btn-youtube.btn-border.disabled {
    background-color: transparent;
    border-color: #e52d27;
}
.btn-youtube.btn-link {
    color: #e52d27;
    opacity: 0.8;
}
.btn-youtube.btn-link:hover, .btn-youtube.btn-link:focus, .btn-youtube.btn-link:active, .btn-youtube.btn-link.active, .open > .btn-youtube.btn-link.dropdown-toggle {
    background-color: transparent;
    color: #e52d27;
    opacity: 1;
}
.btn-youtube.btn-link:hover i, .btn-youtube.btn-link:focus i, .btn-youtube.btn-link:active i, .btn-youtube.btn-link.active i, .open > .btn-youtube.btn-link.dropdown-toggle i {
    color: #e52d27;
    opacity: 1;
}

.btn-instagram {
    color: #FFFFFF;
    background-color: #125688;
    border-color: #125688;
    opacity: 0.8;
}
.btn-instagram:hover, .btn-instagram:focus, .btn-instagram:active, .btn-instagram.active, .open > .btn-instagram.dropdown-toggle {
    background-color: #125688;
    border-color: #125688;
    color: #FFFFFF;
    opacity: 1;
}
.btn-instagram.btn-border {
    border-color: #125688;
    color: #125688;
}
.btn-instagram.btn-border:hover, .btn-instagram.btn-border:focus, .btn-instagram.btn-border:active, .btn-instagram.btn-border.active, .open > .btn-instagram.btn-border.dropdown-toggle {
    background-color: #125688;
    border-color: #125688;
    color: rgba(255, 255, 255, 0.7);
}
.btn-instagram.btn-border:disabled, .btn-instagram.btn-border[disabled], .btn-instagram.btn-border.disabled {
    background-color: transparent;
    border-color: #125688;
}
.btn-instagram.btn-link {
    color: #125688;
    opacity: 0.8;
}
.btn-instagram.btn-link:hover, .btn-instagram.btn-link:focus, .btn-instagram.btn-link:active, .btn-instagram.btn-link.active, .open > .btn-instagram.btn-link.dropdown-toggle {
    background-color: transparent;
    color: #125688;
    opacity: 1;
}
.btn-instagram.btn-link:hover i, .btn-instagram.btn-link:focus i, .btn-instagram.btn-link:active i, .btn-instagram.btn-link.active i, .open > .btn-instagram.btn-link.dropdown-toggle i {
    color: #125688;
    opacity: 1;
}

.btn-reddit {
    color: #FFFFFF;
    background-color: #ff4500;
    border-color: #ff4500;
    opacity: 0.8;
}
.btn-reddit:hover, .btn-reddit:focus, .btn-reddit:active, .btn-reddit.active, .open > .btn-reddit.dropdown-toggle {
    background-color: #ff4500;
    border-color: #ff4500;
    color: #FFFFFF;
    opacity: 1;
}
.btn-reddit.btn-border {
    border-color: #ff4500;
    color: #ff4500;
}
.btn-reddit.btn-border:hover, .btn-reddit.btn-border:focus, .btn-reddit.btn-border:active, .btn-reddit.btn-border.active, .open > .btn-reddit.btn-border.dropdown-toggle {
    background-color: #ff4500;
    border-color: #ff4500;
    color: rgba(255, 255, 255, 0.7);
}
.btn-reddit.btn-border:disabled, .btn-reddit.btn-border[disabled], .btn-reddit.btn-border.disabled {
    background-color: transparent;
    border-color: #ff4500;
}
.btn-reddit.btn-link {
    color: #ff4500;
    opacity: 0.8;
}
.btn-reddit.btn-link:hover, .btn-reddit.btn-link:focus, .btn-reddit.btn-link:active, .btn-reddit.btn-link.active, .open > .btn-reddit.btn-link.dropdown-toggle {
    background-color: transparent;
    color: #ff4500;
    opacity: 1;
}
.btn-reddit.btn-link:hover i, .btn-reddit.btn-link:focus i, .btn-reddit.btn-link:active i, .btn-reddit.btn-link.active i, .open > .btn-reddit.btn-link.dropdown-toggle i {
    color: #ff4500;
    opacity: 1;
}

.btn-tumblr {
    color: #FFFFFF;
    background-color: #35465c;
    border-color: #35465c;
    opacity: 0.8;
}
.btn-tumblr:hover, .btn-tumblr:focus, .btn-tumblr:active, .btn-tumblr.active, .open > .btn-tumblr.dropdown-toggle {
    background-color: #35465c;
    border-color: #35465c;
    color: #FFFFFF;
    opacity: 1;
}
.btn-tumblr.btn-border {
    border-color: #35465c;
    color: #35465c;
}
.btn-tumblr.btn-border:hover, .btn-tumblr.btn-border:focus, .btn-tumblr.btn-border:active, .btn-tumblr.btn-border.active, .open > .btn-tumblr.btn-border.dropdown-toggle {
    background-color: #35465c;
    border-color: #35465c;
    color: rgba(255, 255, 255, 0.7);
}
.btn-tumblr.btn-border:disabled, .btn-tumblr.btn-border[disabled], .btn-tumblr.btn-border.disabled {
    background-color: transparent;
    border-color: #35465c;
}
.btn-tumblr.btn-link {
    color: #35465c;
    opacity: 0.8;
}
.btn-tumblr.btn-link:hover, .btn-tumblr.btn-link:focus, .btn-tumblr.btn-link:active, .btn-tumblr.btn-link.active, .open > .btn-tumblr.btn-link.dropdown-toggle {
    background-color: transparent;
    color: #35465c;
    opacity: 1;
}
.btn-tumblr.btn-link:hover i, .btn-tumblr.btn-link:focus i, .btn-tumblr.btn-link:active i, .btn-tumblr.btn-link.active i, .open > .btn-tumblr.btn-link.dropdown-toggle i {
    color: #35465c;
    opacity: 1;
}

.label-facebook {
    background-color: #3b5998;
}

.label-twitter {
    background-color: #55acee;
}

.label-pinterest {
    background-color: #cc2127;
}

.label-google {
    background-color: #dd4b39;
}

.label-linkedin {
    background-color: #0976b4;
}

.label-dribbble {
    background-color: #ea4c89;
}

.label-github {
    background-color: #333333;
}

.label-youtube {
    background-color: #e52d27;
}

.label-instagram {
    background-color: #125688;
}

.label-reddit {
    background-color: #ff4500;
}

.label-tumblr {
    background-color: #35465c;
}

.icon-facebook {
    color: #3b5998;
}

.icon-twitter {
    color: #55acee;
}

.icon-pinterest {
    color: #cc2127;
}

.icon-google {
    color: #dd4b39;
}

.icon-linkedin {
    color: #0976b4;
}

.icon-dribbble {
    color: #ea4c89;
}

.icon-github {
    color: #333333;
}

.icon-youtube {
    color: #e52d27;
}

.icon-instagram {
    color: #125688;
}

.icon-reddit {
    color: #ff4500;
}

.icon-tumblr {
    color: #35465c;
}

.ico-breakdown {
    background-position: center center;
    background-size: cover;
    padding-bottom: 80px;
}
.ico-breakdown .info, .ico-breakdown .title {
    color: #FFFFFF;
}
.ico-breakdown .title:first-of-type {
    padding-top: 50px;
}
.ico-breakdown .info .title {
    padding-top: 20px;
}
.ico-breakdown .info p {
    color: rgba(255, 255, 255, 0.8);
}
.ico-breakdown .container [class*=col-] {
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-top: 0;
    border-left: 0;
}
.ico-breakdown .container [class*=col-]:last-child {
    border-right: 0;
}
.ico-breakdown .bottom-line [class*=col-] {
    border-bottom: 0;
}
.ico-breakdown .filter:after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
}

.card-pricing {
    text-align: center;
}
.card-pricing .card-block {
    padding: 15px !important;
}
.card-pricing .card-category {
    margin: 10px 0 10px;
    color: #333333;
}
.card-pricing .card-icon {
    padding: 35px 0 5px;
    transform: translateY(0%);
    color: #333333;
}
.card-pricing .card-icon.icon-info {
    color: #51bcda;
}
.card-pricing .card-icon.icon-danger {
    color: #f5593d;
}
.card-pricing .card-icon.icon-primary {
    color: #51cbce;
}
.card-pricing .card-icon.icon-success {
    color: #6bd098;
}
.card-pricing .card-icon.icon-warning {
    color: #fbc658;
}
.card-pricing .card-title {
    margin-top: 30px !important;
}
.card-pricing ul {
    list-style: none;
    padding: 0;
    max-width: 240px;
    margin: 20px auto;
}
.card-pricing ul li {
    padding: 5px 0;
    list-style-type: none;
}
.card-pricing ul li b {
    font-weight: 600;
    color: #333333;
}
.card-pricing .btn-neutral {
    color: #66615B;
}
.card-pricing .btn-neutral:hover, .card-pricing .btn-neutral :focus {
    color: #403D39;
}
.card-pricing.card-background-image ul li {
    color: #FFFFFF;
    text-align: center;
    border-color: rgba(255, 255, 255, 0.3);
}
.card-pricing.card-background-image ul li b {
    color: #FFFFFF !important;
}
.card-pricing.card-background-image .card-description {
    color: #FFFFFF !important;
}
.card-pricing.card-background-image .card-title small {
    color: rgba(255, 255, 255, 0.6);
}

.card-pricing.card-plain .card-category,
.card-pricing.card-plain .card-title {
    color: #333333;
}
.card-pricing.card-plain ul li b {
    font-weight: 600;
    color: #333333;
}

.page-header .card-pricing.card-plain .card-category,
.page-header .card-pricing.card-plain .card-title {
    color: #FFFFFF;
}

.card {
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    color: #333333;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    border: 0 none;
    -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}
.card:not(.card-plain):hover {
    box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
}
.card.no-transition:hover, .card.page-carousel:hover, .card.card-refine:hover, .card.card-register:hover {
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
}
.card a:not(.btn) {
    color: #444444;
}
.card a:not(.btn):hover, .card a:not(.btn):focus {
    color: #333333;
}
.card .card-description {
    color: #9A9A9A;
    margin-bottom: 5px;
    margin-top: 15px;
}
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
}
.card[data-radius="none"] {
    border-radius: 0px;
}
.card[data-radius="none"] .header {
    border-radius: 0px 0px 0 0;
}
.card[data-radius="none"] .header img {
    border-radius: 0px 0px 0 0;
}
.card.card-plain {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
}
.card.card-plain .card-block {
    padding-left: 5px;
    padding-right: 5px;
}
.card.card-plain img {
    border-radius: 12px;
}
.card.card-testimonial {
    margin-top: 30px;
    text-align: center;
}
.card.card-testimonial .card-icon {
    padding: 0;
}
.card.card-testimonial .card-icon i {
    font-size: 30px;
    border: 0;
    display: block;
    line-height: 100px;
    margin: 0px auto;
    margin-bottom: 30px;
}
.card.card-testimonial .card-block {
    padding: 15px 30px;
    margin-top: -70px;
}
.card.card-testimonial .card-block .card-description {
    font-style: italic;
}
.card.card-testimonial .card-block .card-category {
    margin-bottom: 20px;
}
.card.card-testimonial .card-avatar {
    margin-top: 0;
}
.card.card-testimonial .card-avatar .img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.card.card-testimonial .card-footer .card-title {
    color: #333333;
    text-align: center;
}
.card.card-testimonial .card-footer .card-category {
    color: #9A9A9A;
}
.card.card-testimonial .card-footer .card-avatar {
    margin-top: 20px;
}
.card.card-testimonial .card-footer .card-avatar .img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.card.card-contact .card-header {
    margin: 15px;
    border-radius: 3px;
    padding: 15px 0 0 0;
    background-color: #FFF;
    border: 0;
}
.card.card-contact .card-header .card-title {
    color: #66615B;
    margin-top: 0px;
    padding-bottom: 25px;
    border-bottom: 1px solid #DDDDDD;
}
.card.card-contact .card-block .card-icon {
    float: left;
    margin-top: 24px;
    margin-right: 10px;
    border: 0;
}
.card.card-contact .card-block .card-icon i {
    font-size: 30px;
    padding: 25px;
    width: 50px;
    border: 0;
    border-radius: 50%;
    height: 110px;
}
.card.card-register {
    background-color: #FF8F5E;
    border-radius: 8px;
    color: #fff;
    max-width: 350px;
    margin: 20px 0 70px;
    min-height: 400px;
    padding: 30px;
}
.card.card-register label {
    margin-top: 15px;
}
.card.card-register .card-title {
    color: #B33C12;
    text-align: center;
}
.card.card-register .btn {
    margin-top: 30px;
}
.card.card-register .forgot {
    text-align: center;
}
.card .card-link {
    color: #FFFFFF;
}
.card .card-background-image ul li {
    color: #FFF;
    border-color: rgba(255, 255, 255, 0.3);
}
.card.card-blog, .card.card-testimonial .card-description + .card-title {
    margin-top: 30px;
}
.card.card-blog .card-image .img, .card.card-testimonial .card-description + .card-title .card-image .img {
    border-radius: 12px;
}
.card.card-blog .card-image .card-title, .card.card-testimonial .card-description + .card-title .card-image .card-title {
    text-align: center;
}
.card.card:not(.card-plain) .card-image .img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.card.card-blog {
    margin-top: 5px;
}
.card.card-blog .btn {
    margin: 0 auto;
}
.card .author {
    display: inline-block;
}
.card .author .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}
.card .author .avatar-big {
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    position: relative;
    margin-bottom: 15px;
}
.card .author .avatar-big.border-white {
    border: 4px solid #FFFFFF;
}
.card .author .avatar-big.border-gray {
    border: 4px solid #ccc;
}
.card .clearfix + .author {
    margin-top: 15px;
}
.card .stats {
    display: inline-block;
    float: right;
    color: #9A9A9A;
    font-size: 12px;
    margin-top: 6px;
}
.card .stats i {
    font-size: 16px;
    position: relative;
    text-align: center;
    top: 1px;
    margin-left: 5px;
    margin-top: -1px;
    opacity: .6;
}
.card .card-category {
    color: #9A9A9A;
}
.card .category-social .fa {
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px;
}
.card .card-title-uppercase {
    text-transform: uppercase;
}
.card .header {
    position: relative;
    border-radius: 3px 3px 0 0;
    z-index: 3;
}
.card .header.header-with-icon {
    height: 150px;
}
.card .header img {
    width: 100%;
}
.card .header .card-category {
    padding: 15px;
}
.card .card-block .card-footer {
    padding: 0;
}
.card .card-block .card-description + .card-footer {
    padding-top: 10px;
}
.card .more {
    float: right;
    z-index: 4;
    display: block;
    padding-top: 10px;
    padding-right: 10px;
    position: relative;
}
.card .filter,
.card .header .actions {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.76);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
}
.card .header .actions {
    background-color: transparent;
    z-index: 3;
}
.card .header .actions .btn {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.card:hover .filter {
    opacity: .7;
}
.card:hover .header .social-line,
.card:hover .header .actions {
    opacity: 1;
}
.card .card-category i,
.card .label i {
    font-size: 15px;
}
.card > .card-title {
    margin: 0;
    padding: 30px 0 0;
}
.card .card-block {
    padding: 20px;
}
.card .card-block .card-title {
    margin: 5px 0 0 0;
}
.card .card-block .card-category ~ .card-title {
    margin-top: 5px;
}
.card .card-text {
    font-size: 15px;
    color: #66615b;
    padding-bottom: 15px;
}
.card h6 {
    font-size: 12px;
    margin: 0;
}
.card .card-footer {
    padding: 15px;
    background: transparent;
    border-top: 0 none;
}
.card .card-footer .social-line .btn:first-child {
    border-radius: 0 0 0 6px;
}
.card .card-footer .social-line .btn:last-child {
    border-radius: 0 0 6px 0;
}
.card.card-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    background-color: #DDDDDD;
    content: "";
    position: absolute;
}
.card .card-icon {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 30px 0 10px;
}
.card .card-icon i {
    font-size: 40px;
    width: 105px;
    border: 2px solid #ccc;
    border-radius: 50%;
    height: 105px;
    line-height: 105px;
}
.col-lg-4 .card .card-icon i {
    font-size: 80px;
    padding: 22px;
}
.card.card-with-border .card-block {
    padding: 15px 15px 25px 15px;
}
.card.card-with-border .card-footer {
    padding-bottom: 25px;
}
.card.card-with-border:after {
    position: absolute;
    display: block;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    content: "";
    top: 5px;
    left: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 1;
    border-radius: 5px;
}
.card.card-just-text .card-block {
    padding: 50px 65px;
    text-align: center;
}
.card.card-just-text #dLabel {
    float: right;
}
.card.card-just-text #dLabel i {
    font-size: 20px;
}
.card.card-just-text .dropdown-menu {
    margin-top: 55px;
}
.card[data-background="image"] {
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.card[data-background="image"] .card-block {
    position: relative;
    z-index: 2;
    min-height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 440px;
    margin: 0 auto;
    text-align: center;
}
.card[data-background="image"] .card-title {
    color: #FFF;
    margin-top: 10px;
}
.card[data-background="image"]:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 12px;
}
.card[data-background="image"] .card-category {
    color: #FFFFFF;
}
.card[data-background="image"] .image, .card[data-background="color"] .image, .card[data-color] .image {
    border-radius: 6px;
}
.card[data-background="image"] .filter, .card[data-background="color"] .filter, .card[data-color] .filter {
    border-radius: 6px;
}
.card[data-background="image"] .card-description, .card[data-background="color"] .card-description, .card[data-color] .card-description {
    color: rgba(255, 255, 255, 0.7);
}
.card[data-background="image"] .card-title,
.card[data-background="image"] .card-category,
.card[data-background="image"] .card-text,
.card[data-background="image"] .card-block,
.card[data-background="image"] .card-footer,
.card[data-background="image"] .stats,
.card[data-background="image"] small,
.card[data-background="image"] [class*="text-"],
.card[data-background="image"] ul li b,
.card[data-background="image"] a:not(.btn), .card[data-background="color"] .card-title,
.card[data-background="color"] .card-category,
.card[data-background="color"] .card-text,
.card[data-background="color"] .card-block,
.card[data-background="color"] .card-footer,
.card[data-background="color"] .stats,
.card[data-background="color"] small,
.card[data-background="color"] [class*="text-"],
.card[data-background="color"] ul li b,
.card[data-background="color"] a:not(.btn), .card[data-color] .card-title,
.card[data-color] .card-category,
.card[data-color] .card-text,
.card[data-color] .card-block,
.card[data-color] .card-footer,
.card[data-color] .stats,
.card[data-color] small,
.card[data-color] [class*="text-"],
.card[data-color] ul li b,
.card[data-color] a:not(.btn) {
    color: #FFFFFF !important;
}
.card[data-background="image"] a:not(.btn):hover,
.card[data-background="image"] a:not(.btn):focus, .card[data-background="color"] a:not(.btn):hover,
.card[data-background="color"] a:not(.btn):focus, .card[data-color] a:not(.btn):hover,
.card[data-color] a:not(.btn):focus {
    color: #FFFFFF;
}
.card[data-background="image"] .card-icon i, .card[data-background="color"] .card-icon i, .card[data-color] .card-icon i {
    color: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.card[data-background="image"].card-with-border:after, .card[data-background="color"].card-with-border:after, .card[data-color].card-with-border:after {
    border: 1px solid rgba(255, 255, 255, 0.45);
}
.card[data-background="image"] .filter {
    opacity: 0.55;
    filter: alpha(opacity=55);
}
.card[data-background="image"]:hover .filter {
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.card[data-color="blue"] {
    background: #6ec7e0;
}
.card[data-color="green"] {
    background: #86d9ab;
}
.card[data-color="yellow"] {
    background: #fcd27b;
}
.card[data-color="brown"] {
    background: #e4c4a1;
}
.card[data-color="purple"] {
    background: #cc90cc;
}
.card[data-color="orange"] {
    background: #f7765f;
}

.btn-center {
    text-align: center;
}

.card-profile {
    margin-top: 30px;
    text-align: center;
}
.card-profile .card-cover {
    height: 130px;
    background-position: center center;
    background-size: cover;
    border-radius: 12px 12px 0 0;
}
.card-profile .card-block .card-title {
    margin-top: 5px !important;
}
.card-profile .card-block .card-category {
    margin-bottom: 5px;
    margin-top: 5px;
}
.card-profile .card-avatar {
    max-width: 120px;
    max-height: 120px;
    margin: -60px auto 0;
    border-radius: 50%;
    overflow: hidden;
}
.card-profile .card-avatar.border-white {
    border: 4px solid #FFFFFF;
}
.card-profile .card-avatar.border-gray {
    border: 4px solid #ccc;
}